aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click>=7.1.2
colorama==0.4.4
Flask
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
#multidict==5.1.0
numpy
pandas
python-dateutil==2.8.2
pytz==2021.1
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==2.0.1
#yarl==1.6.3
gunicorn
SQLAlchemy
psycopg2-binary
Flask-Migrate
flask_debugtoolbar
Flask-WTF
WTForms
email_validator
flask-restful
flask_marshmallow
marshmallow-sqlalchemy
flask-cors
celery
asyncpg
aniso8601<=7
Flask-GraphQL
graphene<3.0
graphene_sqlalchemy
redis
flower
pytest
Flask-Session
cryptography
boto3
urlextract
opencv-python
python-magic
python-magic-bin; platform_system == "Windows"
h5py
python-levenshtein
thefuzz