<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

{% block content %}
  <form method="POST" action="/">
    <table id="buylist-table-1" border=1>
      <tr>
        <H3>User Information</H3>
      </tr>
      <thead>
        <tr>
          {% for field in form if field.widget.input_type != 'hidden' and field.name in ["buyer_username", "buyer_email", "buyer_discord"] %}
            <th>{{ field.label }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for field in form if field.widget.input_type != 'hidden' and field.name in ["buyer_username", "buyer_email", "buyer_discord"] %}
            <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <table id="buylist-table-2" border=1 title="Reservations">
      <tr>
        <H3>Reservations</H3>
      </tr>
      <thead>
        <tr>
          <th>{{ "Selection" }}</th>
          <th>{{ "Condition" }}</th>
        </tr>
      </thead>
      <tbody>
        {% for form in form.reservation_selection %}
          <tr>
            <td>{{ form.selection }}</td>
            <td>{{ form.condition }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table id="buylist-table-3" border=1>
      <tr>
        <H3>Trade-Ins</H3>
      </tr>
      <thead>
        <tr>
          <th>{{ "Selection" }}</th>
          <th>{{ "Condition" }}</th>
        </tr>
      </thead>
      <tbody>
        {% for form in form.reservation_selection %}
          <tr>
            <td>{{ form.selection }}</td>
            <td>{{ form.condition }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <input type="submit" value="Create Buylist">
  </form>
{% endblock %}

</body>
</html>